body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: DM Sans, sans-serif;
  letter-spacing: 0.04em;
}

.section-title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-accent-color;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.section-item-title {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $primary-accent-color;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}
