body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: DM Sans, sans-serif;
  letter-spacing: 0.04em;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.no-scroll {
  overflow: hidden;
}

.section-title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-accent-color;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.15;
  }
}

.section-label {
  font-family: Titan One;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-accent-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
