$hero-bg-color: #ffb8ca;
$primary-bg-color: #ffffff;
$secondary-bg-color: #fff5f6;
$reviews-bg-color: #fafafa;
$primary-text-color: #907e82;
$secondary-text-color: #ffffff;
$special-text-color: #000000;
$primary-accent-color: #d41443;
$secondary-accent-color: #ffa5ba;
$hover-color: #ecebeb;
$inverse-hover-color: #d41342;
