<!-- advantages -->
<section class="advantages">
    <div class="container">
        <h2 hidden>Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list-item wow fadeInLeft">
                <div class="advantages-text-item logo-one">
                    <h3 class="advantages-item-title">721</h3>
                    <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>

            <li class="advantages-list-item wow fadeInDown">
                <div class="advantages-text-item logo-two">
                    <h3 class="advantages-item-title">16kg</h3>
                    <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>

            <li class="advantages-list-item wow fadeInRight">
                <div class="advantages-text-item logo-three">
                    <h3 class="advantages-item-title">84</h3>
                    <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>

        </ul>
    </div>
</section>
<!-- advantages end -->