<section class="advantages">
    <div class="container">
        <h2 class="advantages" hidden>Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list-item">
                <div class="advantages-logo-block">
                    <picture class="advantages-logo">
                        <source srcset="./images/about/icon1-x1.png 1x, ./images/about/icon1-x2.png 2x"
                            media="(min-width:480px)">
                        <img src="./images/about/icon1-x1.png" width="100%" alt="milking">
                    </picture>
                </div>
                <div class="advantages-text-item">
                    <h3 class="advantages-item-title">721</h3>
                    <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>

            <li class="advantages-list-item">
                <div class="advantages-logo-block">
                    <picture class="advantages-logo">
                        <source srcset="./images/about/icon2-x1.png 1x, ./images/about/icon2-x2.png 2x"
                            media="(min-width:480px)">
                        <img src="./images/about/icon2-x1.png" width="100%" alt="fruts in backet">
                    </picture>
                </div>
                <div class="advantages-text-item">
                    <h3 class="advantages-item-title">16kg</h3>
                    <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>

            <li class="advantages-list-item">
                <div class="advantages-logo-block">
                    <picture class="advantages-logo">
                        <source srcset="./images/about/icon3-x1.png 1x, ./images/about/icon3-x2.png 2x"
                            media="(min-width:480px)">
                        <img src="./images/about/icon3-x1.png" width="100%" alt="sweet heart">
                    </picture>
                </div>
                <div class="advantages-text-item">
                    <h3 class="advantages-item-title">84</h3>
                    <p class="advantages-item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>

        </ul>
    </div>
</section>