<section class="section-locations" id="Contact">
  <div class="locations-wrapper">
    <div class="container">
      <h2 class="visually-hidden">Our locations</h2>
      <ul class="locations-list">
        <li class="locations-item wow fadeInLeft">
          <p class="locations-shop">Cafe</p>
          <h3 class="locations-city">Chicago</h3>
          <p class="locations-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="locations-worktime">
            <p class="locations-day">Monday - Friday</p>
            <p class="locations-time">06:00 AM - 10:00 PM</p>
            <p class="locations-day">Saturday - Sunday</p>
            <p class="locations-time">08:00 AM - 16:00 PM</p>
          </div>
          <ul class="locations-contacts">
            <li><a class="locations-link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
            <li><a class="locations-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
        <li class="locations-item  wow fadeInDown">
          <p class="locations-shop truck">Food truck</p>
          <h3 class="locations-city">Los Angeles</h3>
          <p class="locations-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="locations-worktime">
            <p class="locations-day">Monday - Friday</p>
            <p class="locations-time">06:00 AM - 10:00 PM</p>
            <p class="locations-day">Saturday - Sunday</p>
            <p class="locations-time">08:00 AM - 16:00 PM</p>
          </div>
          <ul class="locations-contacts">
            <li><a class="locations-link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
            <li><a class="locations-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
        <li class="locations-item  wow fadeInRight">
          <p class="locations-shop">Cafe</p>
          <h3 class="locations-city">New-York</h3>
          <p class="locations-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div class="locations-worktime">
            <p class="locations-day">Monday - Friday</p>
            <p class="locations-time">06:00 AM - 10:00 PM</p>
            <p class="locations-day">Saturday - Sunday</p>
            <p class="locations-time">08:00 AM - 16:00 PM</p>
          </div>
          <ul class="locations-contacts">
            <li><a class="locations-link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
            <li><a class="locations-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="locations-button">
      <li class="locations-button-item">
        <button class="button-inverse location-btn" type="button" data-locations-modal-open>
          Our Locations
          <svg class="locations-icon" width="15" height="10">
            <use href="./images/sprite-ice.svg#Vector-1"></use>
          </svg>
        </button>
      </li>
      <li class="locations-button-item">
        <button class="button location-btn" type="button" data-franchise-modal-open>
          Franchise
          <svg class="locations-icon-inverse" width="15" height="10">
            <use href="./images/sprite-ice.svg#Vector-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<div class="backdrop is-hidden" data-franchise-modal>
  <div class="modal">
    <form class="modal-form">
      <p class="modal-title">Leave your contacts - we will call you</p>

      <div class="modal-form-field">
        <label for="name">Name</label>
        <div class="modal-input-wrapper">
          <input class="modal-form-input" type="text" name="name" id="name" />
        </div>
      </div>

      <div class="modal-form-field">
        <label for="tel">Telephone</label>
        <div class="modal-input-wrapper">
          <input class="modal-form-input" type="tel" name="tel" id="tel" />
        </div>
      </div>

      <div class="modal-form-field">
        <label for="feedback">For comments</label>
        <textarea class="modal-form-input modal-form-comment" name="feedback" id="feedback"
          placeholder="For comments"></textarea>
      </div>

      <button class="modal-btn-submit" type="submit">Submit</button>
    </form>
    <button class="modal-close-btn" type="button" data-franchise-modal-close>
      <svg width="18" height="18">
        <use class="modal-icon-close" href="./images/sprite-ice.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
<div class="backdrop is-hidden" data-locations-modal>
  <div class="modal-map">
    <p class="modal-title">Our locations on map</p>
    <div class="locations-map">
      <iframe class="map-city"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d310930.4219498285!2d-87.94686808293426!3d41.81963667331012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1627393866682!5m2!1sru!2sua"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <iframe class="map-city"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.43556854007!2d-118.69193128882294!3d34.020730494168454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1627394920599!5m2!1sru!2sua"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>

      <iframe class="map-city"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325689.95617790904!2d-74.14591635656005!3d40.67658310931827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1627394968863!5m2!1sru!2sua"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <button class="modal-close-btn" type="button" data-locations-modal-close>
      <svg width="18" height="18">
        <use class="modal-icon-close" href="./images/sprite-ice.svg#close"></use>
      </svg>
    </button>
  </div>
</div>