<section class="section-locations" id="Contact">
    <div class="container">
        <h2 class="visually-hidden">Our locations</h2>
        <ul class="locations-list">
            <li class="locations-item">
                <p class="locations-shop">Cafe</p>
                <h3 class="locations-city">Chicago</h3>
                <p class="locations-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="locations-worktime">
                    <p class="locations-day">Monday - Friday</p>
                    <p class="locations-time">06:00 AM - 10:00 PM</p>
                    <p class="locations-day">Saturday - Sunday</p>
                    <p class="locations-time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="locations-contacts">
                    <li><a class="locations-link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                    <li><a class="locations-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </li>
            <li class="locations-item">
                <p class="locations-shop truck">Food truck</p>
                <h3 class="locations-city">Los Angeles</h3>
                <p class="locations-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="locations-worktime">
                    <p class="locations-day">Monday - Friday</p>
                    <p class="locations-time">06:00 AM - 10:00 PM</p>
                    <p class="locations-day">Saturday - Sunday</p>
                    <p class="locations-time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="locations-contacts">
                    <li><a class="locations-link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                    <li><a class="locations-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </li>
            <li class="locations-item">
                <p class="locations-shop">Cafe</p>
                <h3 class="locations-city">New-York</h3>
                <p class="locations-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="locations-worktime">
                    <p class="locations-day">Monday - Friday</p>
                    <p class="locations-time">06:00 AM - 10:00 PM</p>
                    <p class="locations-day">Saturday - Sunday</p>
                    <p class="locations-time">08:00 AM - 16:00 PM</p>
                </div>
                <ul class="locations-contacts">
                    <li><a class="locations-link" href="tel:+610383766284 ">+61(0) 383 766 284</a></li>
                    <li><a class="locations-link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="locations-button">
        <li class="locations-button-item">
            <button class="button-inverse location-btn" type="button">Our Locations
                <svg class="locations-icon" width="15" height="10">
                    <use href="./images/sprite-ice.svg#Vector-1"></use>
                </svg>
            </button>
        </li>
        <li class="locations-button-item">
            <button class="button location-btn" type="button">Franchise
                <svg class="locations-icon-inverse" width="15" height="10">
                    <use href="./images/sprite-ice.svg#Vector-1"></use>
                </svg>
            </button>
        </li>
    </ul>
</section>