<section class="customer-reviews"> 
    <div class="container">
         <div class="slick-wrapper wow fadeInRight">
            <div class="customer-reviews-wrapper">
                <picture>
                    <source
                        srcset="./images/customer-reviews/gallgirl1-x1.png 1x, ./images/customer-reviews/gallgirl1-x2.png 2x">
                    <img class="customer-reviews-photo" src="./images/customer-reviews/gallgirl1-x1.png"
                        alt="girl's photo">
                </picture>
                <div class="customer-reviews-text-wrapper">
                    <p class="customer-reviews-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <span class="customer-reviews-dots"></span>
                <p class="customer-reviews-sign">Emily, Los Angeles</p>
            </div>
            <div class="customer-reviews-wrapper">
                <picture>
                    <source
                        srcset="./images/customer-reviews/gallgirl2-x1.png 1x, ./images/customer-reviews/gallgirl2-x2.png 2x">
                    <img class="customer-reviews-photo" src="./images/customer-reviews/gallgirl1-x1.png"
                        alt="girl's photo">
                </picture>
                <div class="customer-reviews-text-wrapper">
                    <p class="customer-reviews-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <span class="customer-reviews-dots"></span>
                <p class="customer-reviews-sign">Emily, Los Angeles</p>
            </div>
            <div class="customer-reviews-wrapper">
                <picture>
                    <source
                        srcset="./images/customer-reviews/gallgirl3-x1.png 1x, ./images/customer-reviews/gallgirl3-x2.png 2x">
                    <img class="customer-reviews-photo" src="./images/customer-reviews/gallgirl1-x1.png"
                        alt="girl's photo">
                </picture>
                <div class="customer-reviews-text-wrapper">
                    <p class="customer-reviews-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <span class="customer-reviews-dots"></span>
                <p class="customer-reviews-sign">Emily, Los Angeles</p>
            </div>
        </div>


    </div>
</section>