<footer class="page-footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-text-wrapper">
        <p class="footer-text section-label wow bounceIn">
          homemade ice cream made <br />
          <button class="footer-subtext section-title" data-footerVideo-modal-open>
            with passion
          </button>
        </p>
      </div>
      <div class="footer-contacts-wrapper">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="https://github.com/" target="_blank" class="footer-social-link">
              <svg class="footer-social-icon">
                <use href="./images/sprite-ice.svg#GitHub"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a href="https://telegram.org/" target="_blank" class="footer-social-link">
              <svg class="footer-social-icon">
                <use href="./images/sprite-ice.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li class="footer-social-item">
            <a href="https://www.facebook.com/" target="_blank" class="footer-social-link">
              <svg class="footer-social-icon">
                <use href="./images/sprite-ice.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <span class="footer-contacts-text"
          >Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a></span
        >
      </div>
    </div>

    <!-- ------------------------------------------------ -->

    <div class="footer-backdrop is-hidden" data-footerVideo-modal>
      <div class="modal-video">
        <p class="section-title">passion</p>
        <div class="footer-video">
          <iframe
            class="footer-video"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/D2C3jxNWYmQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>

        <button class="modal-close-btn" type="button" data-footerVideo-modal-close>
          <svg width="18" height="18">
            <use class="modal-icon-close" href="./images/sprite-ice.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- --------------------------------------------------------- -->
  </div>
  <div class="copyright-wrapper">
    <span class="copyright">&#169; 2019 - IceCream. All Rights Reserved. </span>
  </div>
</footer>
