<section class="gallery">
  <div class="container">
    <h2 class="gallery-title" hidden>gallery</h2>
    <picture>
      <source
        srcset="./images/gallery/gallery-desk-x1.png 1x, ./images/gallery/gallery-desk-x2.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/gallery/gallery-tab-x1.png 1x, ./images/gallery/gallery-tab-x2.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/gallery/gallery-mob-x1.png 1x, ./images/gallery/gallery-mob-x2.png 2x"
        media="(min-width: 480px)"
      />
      <img class="gallery-img" src="./images/gallery/gallery-desk-x1.png" alt="galleryphoto" />
    </picture>
  </div>
</section>
