<header class="header">

    <div class="container">
        <!-- logo -->

        <a class="header-logo" href="./index.html">
            <picture>

                <!-- <source
                    srcset="./images/header-hero/logo-desk-x2-min.png 2x, ./images/header-hero/logo-desk-x1-min.png 1x"
                    media="(min-width: 1200px)"> -->
                <source
                    srcset="./images/header-hero/logo-tab-x2-min.png 2x, ./images/header-hero/logo-tab-x1-min.png 1x"
                    media="(min-width: 768px)">
                <source
                    srcset="./images/header-hero/logo-mob-x2-min.png 2x, ./images/header-hero/logo-mob-x1-min.png 1x"
                    media="(min-width: 360px)">
                <img src="./images/header-hero/logo-mob-x1-min.png" alt="ice-cream" title="BEST ice-cream">
            </picture>
        </a>
       

        <!-- navigation -->
        <ul class="header-nav">
            <li class="header-nav-item">Home</li>
            <li class="header-nav-item">About us</li>
            <li class="header-nav-item">How it’s made?</li>
            <li class="header-nav-item">Our products</li>
            <li class="header-nav-item">Contact</li>
        </ul>
       
       <div class="header-buttons">
           <button class="header-burger" data-menu-open>
            <span></span>
          </button>
    <button class="header-button" type="button">Buy now
        <svg class="header-button-icon">
            <use href="./images/sprite-ice.svg#Vector-1"></use>
        </svg>
    </button>
</div>
       
    </div>
</header>

<!-- hero -->

<div class="hero">

    <div class="container">
        <div class="hero-title-section hero-possition">
            <h1 class="hero-title">ice cream <br /> made with <br> <span>passion</span> </h1>
            <button class="hero-button-products" type="button">Products</button>
            <button class="hero-button-products" type="button">How it’s made?</button>
        </div>

        
            <ul class="hero-cafes ">
                <li class="hero-cafe">
                    <span>16</span> <p>cafes</p>
                </li>
                <li class="hero-cafe">
                    <span>23</span> <p>food trucks</p>
                </li>
            </ul>
            
            
            
        
        <div class="hero-paragraf-section hero-possition">
            <picture>
                <source srcset="./images/header-hero/milk-desk-x2-min.png 2x, ./images/header-hero/milk-desk-x1-min.png 1x"
                    media="(min-width: 1200px)">
                <source srcset="./images/header-hero/milk-tab-x2-min.png 2x, ./images/header-hero/milk-tab-x1-min.png 1x"
                    media="(min-width: 768px)">
                <source srcset="./images/header-hero/hero-mob-x2-min.png 2x, ./images/header-hero/hero-mob-x1-min.png 1x"
                    media="(min-width: 360px)">
                <img class="hero-img-milk" src="./images/header-hero/hero-mob-x1-min.png" alt="ice-cream"
                    title="BEST ice-cream">
            </picture>
        
            
                <div class="hero-info">
                    <p class="hero-paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et</p>
                    <button class="hero-arrow-right" type="button"><svg class="hero-arrow-right-icon">
                            <use href="./images/sprite-ice.svg#arrow-right2"></use>
                        </svg>
                    </button>
                </div>
        </div>
        
        
        <!-- <picture>
            <source srcset="./images/header-hero/girl-desk-x2-min.png 2x, ./images/header-hero/girl-desk-x1-min.png 1x"
                media="(min-width: 1200px)">
            <source srcset="./images/header-hero/girl-tab-x2-min.png 2x, ./images/header-hero/girl-tab-x1-min.png 1x"
                media="(min-width: 768px)">
            <source srcset="./images/header-hero/girl-tab-x2-min.png 2x, ./images/header-hero/girl-tab-x1-min.png 1x"
                media="(min-width: 360px)">
            <img class="hero-img-girl hero-possition" src="./images/header-hero/girl-tab-x1-min.png" alt="ice-cream" title="BEST ice-cream">
        </picture> -->
 </div>

   
    
      

</div>