<header class="header" >

    <div class="container">
        <!-- logo -->

<nav class="main-nav">
    <a class="header-logo" href="./index.html">
        <picture>
    
            <source srcset="./images/header-hero/logo-desk-2x.png 2x, ./images/header-hero/logo-desk-1x.png 1x"
                media="(min-width: 1280px)">
            <source srcset="./images/header-hero/logo-tab-x2-min.png 2x, ./images/header-hero/logo-tab-x1-min.png 1x"
                media="(min-width: 768px)">
            <source srcset="./images/header-hero/logo-mob-x2-min.png 2x, ./images/header-hero/logo-mob-x1-min.png 1x"
                media="(min-width: 480px)">
            <img src="./images/header-hero/logo-mob-x1-min.png" alt="ice-cream" title="BEST ice-cream">
        </picture>
    </a>
    
    
    <!-- navigation -->
    <ul class="header-nav">
        <li class="header-nav-item"> <a class="header-nav-link scrollto hero-header-hover" href="#home">Home</a> </li>
        <li class="header-nav-item"> <a class="header-nav-link scrollto hero-header-hover" href="#about">About us</a> </li>
        <li class="header-nav-item"> <a class="header-nav-link scrollto hero-header-hover" href="#about">How it’s made?</a> </li>
        <li class="header-nav-item"> <a class="header-nav-link scrollto hero-header-hover" href="#products">Our products</a> </li>
        <li class="header-nav-item"> <a class="header-nav-link scrollto hero-header-hover" href="#Contact">Contact</a> </li>
    </ul>
    <div class="header-buttons">
        <button class="hamburger hamburger--arrowturn header-burger mob-menu-open-btn " type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        
       
        <button class="header-button to-buy-open-btn hero-header-hover" type="button">Buy now
            <svg class="header-button-icon">
                <use href="./images/sprite-ice.svg#Vector-1"></use>
            </svg>
        </button>
    </div>
    

   
    
    
    
</nav>


    </div>
        
</header>

<!-- hero -->

<div class="hero" id="home">

    <div class="container">
        <div class="hero-title-section hero-possition">
            <h1 class="hero-title wow bounceIn">ice cream <br /> made with <br> <span>passion</span> </h1>
            <div class="hero-button-list">
                <a class="hero-button hero-header-hover scrollto" href="#products"> Products</a>
                <a class="hero-button-revers hero-header-hover scrollto" href="#about"> How it’s made?</a>
                
        </div>
     </div>

        
            <ul class="hero-cafes ">
                <li class="hero-cafe">
                    <span class="hero-cafes-numbers">16</span> <p>cafes</p>
                </li>
                <li class="hero-cafe">
                    <span class="hero-cafes-numbers">23</span> <p>food trucks</p>
                </li>
            </ul>
            
            
            
        
        <div class="hero-paragraf-section hero-possition">
                
                 <div class="hero-info">
                    <p class="hero-paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et</p>
                    <button class="hero-arrow-right hero-header-hover" type="button"><svg class="hero-arrow-right-icon hero-header-hover">
                            <use href="./images/sprite-ice.svg#arrow-right2"></use>
                        </svg>
                    </button>
                </div>
        </div>
        
        
   <div class="thumb hero-img-houka ">
       <picture>
        <source srcset="./images/header-hero/hero-desk-x2-min.png 2x, ./images/header-hero/hero-desk-x1-min.png 1x"
        media="(min-width: 1280px)">
        <source srcset="/images/header-hero/hero-tab-x2-min.png 2x, ./images/header-hero/hero-tab-x1-min.png 1x"
            media="(min-width: 768px)">
        <source srcset="./images/header-hero/hero-mob-x2-min.png 2x, ./images/header-hero/hero-mob-x1-min.png 1x"
            media="(min-width: 480px)">
        <img class="wow rotateInDownRight" src="./images/header-hero/hero-mob-x1-min.png" alt="">
       </picture>
   </div>
<div class="thumb hero-img-girl ">
    <picture>
        <source srcset="./images/header-hero/girl-desk-x2-min.png 2x, ./images/header-hero/girl-desk-x1-min.png 1x"
            media="(min-width: 1280px)">
            <source srcset="./images/header-hero/girl-tab-x2-min.png 2x, ./images/header-hero/girl-tab-x1-min.png 1x"
                media="(min-width: 768px)">
        <img class="wow fadeInRight" src="./images/header-hero/girl-tab-x1-min.png" alt="">
    </picture>
    
</div>
<div class="thumb hero-img-milk">
<picture>
    <source srcset="./images/header-hero/milk-desk-x2-min.png 2x, ./images/header-hero/milk-desk-x1-min.png 1x"
        media="(min-width: 1280px)">
    <source srcset="./images/header-hero/milk-tab-x2-min.png 2x, ./images/header-hero/milk-tab-x1-min.png 1x"
        media="(min-width: 768px)">
    <source srcset="./images/header-hero/hero-mob-x2-min.png 2x, ./images/header-hero/hero-mob-x1-min.png 1x"
        media="(min-width: 480px)">
    <img class="wow fadeInLeft" src="./images/header-hero/hero-mob-x1-min.png" alt="ice-cream" title="BEST ice-cream">
</picture>
</div>


    
 </div>

</div>

<div class="backdrop  visually-hidden mob-menu">
    <div class="header-menu">
        <button  class="close-buttom mob-menu__close-btn">
            <span class="close-buttom-icon"></span>
                
        </button>
        <button class="header-button to-buy-open-btn2 mob-menu__close6">Buy now <svg class="header-button-icon">
            <use href="./images/sprite-ice.svg#Vector-1"></use>
        </svg></button>
        <ul class="menu-list">
            <li class="menu-item"> <a class="menu-link mob-menu__close scrollto" href="#home">Home</a> </li>
            <li class="menu-item"> <a class="menu-link mob-menu__close2 scrollto" href="#about">About us</a> </li>
            <li class="menu-item"> <a class="menu-link mob-menu__close3 scrollto" href="#about">How it’s made?</a> </li>
            <li class="menu-item"> <a class="menu-link mob-menu__close4 scrollto" href="#products">Our products</a> </li>
            <li class="menu-item"> <a class="menu-link mob-menu__close5 scrollto" href="#Contact">Contact</a> </li>
        </ul>
    </div>
</div>

<!-- modal -->
<div class="header-wrap mob-m-tob visually-hidden ">
    <div class="modal-to-buy ">

        <p class="to-buy-title">Fill out the order form and we will contacted you</p>
        <fieldset class=" you-buy-position">
            <label class="to-buy-lable" for="prod">You choose</label>
            <select class="to-buy-lable to-buy-select" id="prod" name="prod">
                <option value="5$">chocolate</option>
                <option value="2$">vanilla</option>
                <option value="6$" selected>fruit</option>
                <option value="l$">berry</option>
            </select>
            <!-- <legend>Your chose</legend> -->
            <label class="to-buy-lable">
                Naw match
            </label>
            <input class="to-buy-input" type="number" name="Naw match" />
        </fieldset>
        <fieldset class="you-buy-position">
            <legend>Enter your contact details</legend>
            <label class="to-buy-lable">
                Name

            </label>
            <input class="to-buy-input" type="text" name="username" placeholder="Jim Smith" />
            <label class="to-buy-lable">
                Contact tell

            </label>
            <input class="to-buy-input" type="tel" name="tell" placeholder="+312345678" />
        </fieldset>
        <fieldset class="you-buy-position">
            <label class="to-buy-lable" for="tbname">
                Name on Card

            </label>
            <input class="to-buy-input" type="text" id="tbname" name="cardname" placeholder="John More Doe">
            <label class="to-buy-lable" for="ccnum">Credit card number</label>
            <input class="to-buy-input" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label class="to-buy-lable" for="expmonth">Exp Month </label>
            <input class="to-buy-input" type="text" id="expmonth" name="expmonth" placeholder="September">


            <label class="to-buy-lable" for="expyear">Exp Year</label>
            <input class="to-buy-input" type="text" id="expyear" name="expyear" placeholder="2021">

            <label class="to-buy-input" for="cvv">CVV <input class="to-buy-input" type="text" id="cvv" name="cvv"
                    placeholder="352"></label>



        </fieldset>
        <label class="to-buy-lable">
            <input class="to-buy-input" type="checkbox" checked="checked" name="sameadr"> Shipping address same as
            billing
        </label>


        <label class="to-buy-lable" for="feed">For comments</label>
        <textarea class="modal-form-input to-bue-form-comment" name="feedback" id="feed"
            placeholder="For comments"></textarea>

        <button class="modal-btn-submit" type="submit">Submit</button>

        <button class="modal-close-btn to-buy-close-btn hero-header-hover" type="button">
            <svg width="18" height="18">
                <use class="modal-icon-close " href="./images/sprite-ice.svg#close"></use>
            </svg>
        </button>
    </div>
</div>