<section class="container">
    <p>100% natural</p>
    <h2>products</h2>
    <ul>
        <li>
            <picture>
                <source
                    srcset="./images/products/prod1-desk-x1-min.png 1x, ./images/products/prod1-desk-x2-min.png 2x" media="(min-width: 1200px)">
                <source
                    srcset="./images/products/prod1-tab-x1-min.png 1x, ./images/products/prod1-tab-x2-min.png 2x" media="(min-width: 768px)">
                <source
                    srcset="./images/products/prod1-mob-x1-min.png 1x, ./images/products/prod1-mob-x2-min.png 2x" media="(min-width: 480px)">
                <img src="./images/products/prod1-mob-x1-min.png" alt="ice cream"/>
            </picture>
            <h3>ice cream</h3>
            <a href="#">
                <svg width="26" height="6">
                    <use href="./images/sprite-ice.svg#dots"></use>
                </svg>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="#">
                <svg width="16" height="12">
                    <use href="./images/sprite-ice.svg#arrow-right2"></use>
                </svg>
            </a>
        </li>
        <li>
            <picture>
                <source srcset="./images/products/prod2-desk-x1-min.png 1x, ./images/products/prod2-desk-x2-min.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/products/prod2-tab-x1-min.png 1x, ./images/products/prod2-tab-x2-min.png 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/products/prod2-mob-x1-min.png 1x, ./images/products/prod2-mob-x2-min.png 2x"
                    media="(min-width: 480px)">
                <img src="./images/products/prod2-mob-x1-min.png" alt="ice coffee" />
            </picture>
            <h3>ice coffee</h3>
            <a href="#">
                <svg width="26" height="6">
                    <use href="./images/sprite-ice.svg#dots"></use>
                </svg>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="#">
                <svg width="16" height="12">
                    <use href="./images/sprite-ice.svg#arrow-right2"></use>
                </svg>
            </a>
        </li>
        <li>
            <picture>
                <source srcset="./images/products/prod3-desk-x1-min.png 1x, ./images/products/prod3-desk-x2-min.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/products/prod3-tab-x1-min.png 1x, ./images/products/prod3-tab-x2-min.png 2x"
                    media="(min-width: 768px)">
                <source srcset="./images/products/prod3-mob-x1-min.png 1x, ./images/products/prod3-mob-x2-min.png 2x"
                    media="(min-width: 480px)">
                <img src="./images/products/prod3-mob-x1-min.png" alt="milkshakes" />
            </picture>
            <h3>milkshakes</h3>
            <a href="#">
                <svg width="26" height="6">
                    <use href="./images/sprite-ice.svg#dots"></use>
                </svg>
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="#">
                <svg width="16" height="12">
                    <use href="./images/sprite-ice.svg#arrow-right2"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>