<section class="products-section" id="products">
  <div class="products container">
    <p class="prod-claim wow bounceIn">100% natural</p>
    <h2 class="prod-headline section-title wow bounceIn">products</h2>
    <ul class="prod-list">
      <li class="prod-item wow fadeInLeft">
        <!-- <picture>
                    <source srcset="./images/products/prod1-desk-x1-min.png 1x, ./images/products/prod1-desk-x2-min.png 2x" media="(min-width: 1200px)">
                    <source srcset="./images/products/prod1-tab-x1-min.png 1x, ./images/products/prod1-tab-x2-min.png 2x" media="(min-width: 768px)">
                    <source srcset="./images/products/prod1-mob-x1-min.png 1x, ./images/products/prod1-mob-x2-min.png 2x" media="(min-width: 480px)">
                    <img class="prod-img" src="./images/products/prod1-mob-x1-min.png" alt="ice cream"/>
                </picture> -->
        <div class="prod-info-block data-modal-prod1" data-modal-prod1-open>
          <h3 class="prod-name prod-name-icecream">ice cream</h3>
          <p class="prod-item-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="prod-item-btn " type="button" >
            <svg class="prod-item-btn-icon" width="20" height="20">
              <use href="./images/sprite-ice.svg#arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li> 
      <li class="prod-item wow fadeInDown">
        <!-- <picture>
                    <source srcset="./images/products/prod2-desk-x1-min.png 1x, ./images/products/prod2-desk-x2-min.png 2x" media="(min-width: 1200px)">
                    <source srcset="./images/products/prod2-tab-x1-min.png 1x, ./images/products/prod2-tab-x2-min.png 2x" media="(min-width: 768px)">
                    <source srcset="./images/products/prod2-mob-x1-min.png 1x, ./images/products/prod2-mob-x2-min.png 2x" media="(min-width: 480px)">
                    <img class="prod-img" src="./images/products/prod2-mob-x1-min.png" alt="ice coffee" />
                </picture> -->
        <div class="prod-info-block data-modal-prod2" data-modal-prod2-open>
          <h3 class="prod-name prod-name-icecoffee">ice coffee</h3>
          <p class="prod-item-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="prod-item-btn" type="button">
            <svg class="prod-item-btn-icon" width="20" height="20">
              <use href="./images/sprite-ice.svg#arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="prod-item wow fadeInRight">
        <!-- <picture>
                    <source srcset="./images/products/prod3-desk-x1-min.png 1x, ./images/products/prod3-desk-x2-min.png 2x" media="(min-width: 1200px)">
                    <source srcset="./images/products/prod3-tab-x1-min.png 1x, ./images/products/prod3-tab-x2-min.png 2x" media="(min-width: 768px)">
                    <source srcset="./images/products/prod3-mob-x1-min.png 1x, ./images/products/prod3-mob-x2-min.png 2x" media="(min-width: 480px)">
                    <img class="prod-img" src="./images/products/prod3-mob-x1-min.png" alt="milkshakes" />
                </picture> -->
        <div class="prod-info-block data-modal-prod3" data-modal-prod3-open>
          <h3 class="prod-name prod-name-milkshakes">milkshakes</h3>
          <p class="prod-item-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="prod-item-btn" type="button" >
            <svg class="prod-item-btn-icon" width="20" height="20">
              <use href="./images/sprite-ice.svg#arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <!-- modal window for icecream (prod1) product card -->
  <div class="backdrop is-hidden" data-modal-prod1>
    <div class="modal-prod1-window">
      <button class="modal-close-btn modal-prod-close-btn1" type="button" data-modal-prod1-close>
        <svg class="modal-icon-close modal-prod-icon-close" width="18" height="18">
          <use href="./images/sprite-ice.svg#close"></use>
        </svg>
      </button>
      <p class="modal-prod-descr">
        Admit it, not all ice cream tastes the same. An ice cream from brand A will taste a bit
        different to one from brand B, even if they are the same flavor. The difference is the
        quality of ingredients, and where they are inferior, often they will taste “cheap”.
      </p>
    </div>
  </div>

  <!-- modal window for icecoffee (prod2) product card -->
  <div class="backdrop is-hidden" data-modal-prod2>
    <div class="modal-prod2-window modal-prod2-window__bgbrown">
      <button class="modal-close-btn modal-prod-close-btn2" type="button" data-modal-prod2-close>
        <svg class="modal-icon-close modal-prod-icon-close" width="18" height="18">
          <use href="./images/sprite-ice.svg#close"></use>
        </svg>
      </button>
      <p class="modal-prod-descr">
        Iced coffee is made using regular hot coffee that has been cooled completely and is served on ice. 
        So it’s basically just cold coffee, but with a good amount of ice cubes for that refreshing touch.
      </p>
    </div>
  </div>
  <!-- modal window for milkshakes (prod3) product card -->
  <div class="backdrop is-hidden" data-modal-prod3>
    <div class="modal-prod3-window modal-prod3-window__bggreen">
      <button class="modal-close-btn modal-prod-close-btn3" type="button" data-modal-prod3-close>
        <svg class="modal-icon-close modal-prod-icon-close" width="18" height="18">
          <use href="./images/sprite-ice.svg#close"></use>
        </svg>
      </button>
      <p class="modal-prod-descr">
        For these easy milkshake recipes, we recreated some of our favorite desserts (umm...banana cream pie?) — 
        and turned to heavenly ingredient combos like peanut butter and brownie.
      </p>
    </div>
  </div>
  <!-- <script src="./js/prod1.js"></script>
  <script src="./js/prod2.js"></script>
  <script src="./js/prod3.js"></script> -->
</section>
