.button {
  display: block;
  border-radius: 22px;
  padding: 10px 32px;
  border: none;

  color: $primary-accent-color;
  background-color: $primary-bg-color;
}

.button:hover,
.button:focus {
  background-color: $hover-color;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.button-inverse {
  display: block;
  border-radius: 22px;
  padding: 10px 32px;
  border: none;

  color: $secondary-text-color;
  background-color: $primary-accent-color;
}

.button-inverse:hover,
.button-inverse:focus {
  background-color: $inverse-hover-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
