.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.header-burger {
  background: none;
  border: none;
  cursor: pointer;
  display: block;

  &:focus,
  & :hover {
    transform: scale(1.5);
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.header-menu {
  width: 250px;
  height: 100%;
  background-color: #e17992;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  right: 0;
  transform: translate(100%);
  transition-duration: 200ms;
  top: 0;
  padding-top: 60px;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
  & > .header-button {
    display: block;
    margin-bottom: 32px;
  }
}
.menu-active {
  transform: translate(0);
}
.close-buttom {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 23px;
  right: 28px;
  border: none;
  background: none;

  &-icon {
    fill: $secondary-text-color;
    margin: auto auto;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    display: block;
  }
}

.close-buttom-icon:hover {
  opacity: 1;
}
.close-buttom-icon:before,
.close-buttom-icon:after {
  content: ' ';
  position: absolute;
  left: 6px;
  height: 100%;
  width: 2px;
  background-color: $secondary-text-color;
}
.close-buttom-icon:before {
  transform: rotate(45deg);
}
.close-buttom-icon:after {
  transform: rotate(-45deg);
}

.menu-item {
  height: 42px;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #e18298;
  display: flex;
  align-items: center;

  margin: auto 0;
  .menu-link {
    color: $secondary-text-color;
  }
  .menu-link:hover,
  :focus {
    color: $primary-accent-color;
  }
  &:first-child {
    border-top: 1px solid #e18298;
  }
}

.menu-item > .menu-current {
  color: $primary-accent-color;
}
