.about {
  position: relative;
  padding-top: 125px;
  // padding-bottom: 39px;
  background-color: $secondary-bg-color;
  background-image: url(../images/about/cowbg-mob-x1.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 94%;
  background-size: contain;

  @media screen and (min-width: 480px) {
    background-image: url(../images/about/cowbg-mob-x1.png);
    background-repeat: no-repeat;
    background-size: 480px;
  }
  @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (min-resolution: 192dpi),
    screen and (min-width: 480px) and (min-resolution: 2dppx) {
    background-image: url(../images/about/cowbg-mob-x2.png);
    background-size: 480px;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    background-image: unset;
    // padding-bottom: 66px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    background-image: url(../images/about/cowbg-desk-x1.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    // padding-bottom: 39px;
    background-size: 1280px;
  }
  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (min-resolution: 192dpi),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) {
    background-image: url(../images/about/cowbg-desk-x2.png);
    background-size: 1280px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
  }
  &-label {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }

  &-title {
    text-align: center;
    margin-bottom: 26px;
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 55px;
    }
  }
  &-content {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &-pic-block {
    @media screen and (min-width: 480px) {
      min-width: 280px;
    }

    @media screen and (min-width: 768px) {
      min-width: 340px;
      margin-right: 17px;
    }

    @media screen and (min-width: 1280px) {
      min-width: 516px;
      margin-right: 74px;
    }
  }
  &-item {
    margin-right: 35px;
    margin-left: 35px;
    @media screen and (min-width: 480px) {
      margin-right: unset;
      margin-left: unset;
    }
  }

  &-first-text {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.62;
    color: $special-text-color;
    margin-bottom: 47px;
    margin-top: 46px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.76;
      margin-bottom: 49px;
      margin-top: 50px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      letter-spacing: 0.04em;
      margin-bottom: 35px;
      margin-top: 51px;
    }
  }
  &-text-top,
  &-text-bot {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $primary-text-color;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.76;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1280px) {
      line-height: 1.94;
    }
  }
  &-text-top {
    margin-bottom: 19px;
    @media screen and (min-width: 768px) {
      margin-bottom: 25px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 27px;
    }
  }

  &-text-bot {
    margin-bottom: 17px;
    @media screen and (min-width: 768px) {
      margin-bottom: 62px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 45px;
    }
  }

  &-btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.28;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 37px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.31;
    }
  }

  &-btn-logo {
    width: 10px;
    height: 15px;
    fill: $primary-accent-color;
    margin-left: 14px;
  }

  &-modal {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
  }
  &-modal.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }

  &-modal-window {
    width: 270px;
    height: auto;
    left: calc(50% - 135px);
    top: calc(50% + 80px);
    padding: 25px;
    background: rgba(255, 245, 246, 1);

    border: 1px solid $secondary-accent-color;
    box-shadow: 0px 1px 3px rgba(212, 20, 67, 0.12), 0px 1px 1px rgba(212, 20, 67, 0.14),
      0px 2px 1px rgba(212, 20, 67, 0.2);
    border-radius: 10px;
    position: absolute;

    & .about-close-btn {
      top: 10px;
      right: 10px;
      width: 25px;
      height: 25px;

      @media screen and (min-width: 768px) {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
      }
    }
    @media screen and (min-width: 480px) {
      width: 260px;

      left: calc(50% - 40px);
      top: calc(50% + 110px);
      padding: 25px;
    }
    @media screen and (min-width: 768px) {
      background: rgba(255, 245, 246, 0.88);
      width: 350px;
      left: calc(50% - 350px);
      top: calc(50% - 50px);
      padding: 30px;
    }

    @media screen and (min-width: 1280px) {
      width: 500px;

      left: calc(50% - 500px);
      top: calc(50% - 65px);
      padding: 40px;
    }
  }
  &-modal-text {
    color: $special-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.76;
    }

    @media screen and (min-width: 1280px) {
      line-height: 1.94;
    }
    &-span {
      display: inline-block;
      margin-bottom: 19px;
      @media screen and (min-width: 768px) {
        margin-bottom: 25px;
      }

      @media screen and (min-width: 1280px) {
        margin-bottom: 27px;
      }
    }
  }
}
