.customer-reviews {
  padding-top: 80px;
  padding-bottom: 86px;
}

.customer-reviews-photo {
  margin: 0 auto;
  width: 85px;
  height: 85px;
  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.customer-reviews-text-wrapper {
  background-color: $reviews-bg-color;
  padding-top: 43px;
  padding-right: 66px;
  padding-bottom: 26px;
  padding-left: 57px;

  display: block;
  margin: 0 auto;

  max-width: 281px;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    background-color: $primary-bg-color;

    padding-top: 43px;
    padding-right: 66px;
    padding-bottom: 26px;
    padding-left: 50px;

    max-width: 620px;

    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    background-color: $reviews-bg-color;

    padding-top: 43px;
    padding-right: 66px;
    padding-bottom: 26px;
    padding-left: 50px;

    max-width: 928px;

    margin-bottom: 15px;
  }
}

.customer-reviews-quotes {
  position: absolute;
  width: 54px;
  height: 40px;
  bottom: 0;
  top: 100%;
}

.customer-reviews-text {
  background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 30px);

  max-width: 158px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: $special-text-color;
  display: block;
  margin: 0 auto;

  position: relative;
  z-index: 1;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
    max-width: 460px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
    max-width: 750px;
  }
}

.customer-reviews-text::before {
  content: '';
  background: url(../images/customer-reviews/marks-x1.png);
  z-index: -1;
  width: 54px;
  height: 40px;
  display: block;
  position: absolute;
  top: -17px;
  left: -8px;

  @media screen and (min-width: 768px) {
    top: -17px;
    left: -39px;
  }

  @media screen and (min-width: 1280px) {
    top: -17px;
    left: -34px;
  }
}

.customer-reviews-dots {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $primary-accent-color;
  display: block;
  position: relative;
  left: 100%;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.customer-reviews-dots::after,
.customer-reviews-dots::before {
  content: '';
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50%;
  background-color: $primary-accent-color;
  position: absolute;
}

.customer-reviews-dots::after {
  left: 10px;
}

.customer-reviews-dots::before {
  right: 10px;
}

.customer-reviews-sign {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: $special-text-color;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.86;
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.86;
    margin-bottom: 35px;
  }
}
.slick-dots li button::before {
  font-size: 12px;
}

.slick-dots {
  li.slick-active button::before {
    content: '';
    background-image: url(../images/customer-reviews/home-x.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 12px;
    left: 3px;
    top: 3px;
  }
}
