.page-footer {
  text-align: center;
  background-color: $secondary-bg-color;
  padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 10px;
  }
}

.footer-wrapper {
  padding-bottom: 43px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 91px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 98px;
  }
}

.footer-text-wrapper {
  max-width: 234px;
  margin-bottom: 43px;
  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: none;
    margin-bottom: 0;
  }
}

.footer-text {
  font-family: Titan One;
  font-weight: 400;
  text-align: left;
}

.footer-subtext {
  text-align: left;
  border: none;
  background: inherit;
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  margin-top: 17px;
  padding: 0;

  animation-name: lookatme;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 15px;
  }
}

@keyframes lookatme {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}

.footer-contacts-wrapper {
  text-align: right;
}

.footer-social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.footer-social-item {
  width: 32px;
  height: 32px;

  &:not(:last-child) {
    margin-right: 28px;
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $secondary-accent-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $primary-accent-color;
  }
}

.footer-social-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-contacts-text {
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: $special-text-color;
}

.footer-contacts-text a {
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: $primary-accent-color;
  background-color: transparent;
}

.copyright-wrapper {
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 9px;
  }
}

.copyright {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  max-width: 152px;
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    max-width: none;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

// --------------------------------------------

.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}

.footer-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;

  background-color: $secondary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  right: 4px;
  top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: unset;
  &:hover {
    background-color: $secondary-accent-color;
  }
}

.footer-video {
  max-width: 100%;
}
