.gallery {
  padding-bottom: 80px;
  background: linear-gradient(180deg, rgb(255, 245, 246) 27%, rgb(255, 255, 255) 27%);

  @media screen and (min-width: 768px) {
    padding-bottom: 121px;
    background: linear-gradient(180deg, rgb(255, 245, 246) 26.4%, rgb(255, 255, 255) 26.4%);
  }
  @media screen and (min-width: 1280px) {
    background: linear-gradient(180deg, rgb(255, 245, 246) 29.5%, rgb(255, 255, 255) 29.5%);
    padding-bottom: 123px;
  }
}
