.gallery {
  background: #fff5f6;

  background: linear-gradient(
    90deg,
    rgba(162, 4, 61, 0) 50%,
    rgba(255, 245, 246, 1) 50%,
    rgba(255, 245, 246, 1) 100%
  );

  @media screen and (min-width: 480px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 121px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 123px;
  }
}
